{% extends "Layouts/base.twig" %}

{% block title %}Admin Dashboard - PHOENIX EVENTBRITE{% endblock %}

{% block content %}
{% include "Admin/statistics.twig" %}</div>
{% include "Admin/users.twig" %}
{% endblock %}